<!DOCTYPE html>
<html>
<head>
    <title>DbDummy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
        text-align: left;
    }
    </style>
</head>
<body>
<h1>Welcome to your DummyDB</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td><img src="{{ row[4] }}" alt="{{ row[0] }}"></td>
    </tr>
    {% endfor %}
</table>

</body>
</html>